.footer {
    background-color: #77181e;
    color: #c6d6d6;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li{
    margin: 0 1em;
    color: #c6d6d6;
}

.copy_right {
    margin-top: 1em;
    color: #c6d6d6;
}

.copy_right span {
    font-weight: bold;
    color: #c6d6d6;
}