.Header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: #c6d6d6;
    background-color: #77181e;
}

.lista {
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
    color: #c6d6d6;
}

.person {
    fill: #c6d6d6;
    width: 30px;
    height: 25px;
}

.item a{
    color: #c6d6d6;
    text-decoration: none;
}

.titulo a{
    color: #c6d6d6;
    text-decoration: none;
}